:root {
	--first-text-color: #212121;
	--second-text-color: #757575;
	--my-white: #ffffff;
	--accent-color: #2196f3;
	--background-dark-color: #2f303a;
	--main-bg: #f5f4fa;
	--logo-second-part: #000000;
}

/*Убираем внешние и внутренние отступы*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}
/*Убираем нижний отступ*/
img {
	display: block;

	max-width: 100%;
}

address {
	font-style: normal;
}

button {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	text-align: center;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	background-color: var(--my-white);
	color: var(--first-text-color);
}

/* ==========COMPONENTS========== */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.link {
	text-decoration: none;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.67;
	text-align: center;
	color: var(--first-text-color);
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.main-item-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.main-features-flex-basis {
	flex-basis: calc((100% - 90px) / 4);
}

.main-we-doing-flex-basis {
	flex-basis: calc((100% - 60px) / 3);
}

.main-team-flex-basis {
	flex-basis: calc((100% - 90px) / 4);
}

.main-item-all-services {
	flex-basis: calc((100% - 60px) / 3);
}

/* ==========Header шапка сайта (WebStudio, Студия, Портфолио, Контакты, email, tel) index.html========== */
.header-bg {
	background: var(--my-white);
	border-bottom: 1px solid #ececec;
}

.header-bg-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-menu-fist {
	display: flex;
	align-items: center;
}

.header-nav-link.current {
	color: var(--accent-color);
}

.header-menu-second {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-address-item {
	margin-right: 50px;
}

.header-menu-item:not(:last-child) {
	margin-right: 50px;
}

.section.header-bg {
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
	margin-right: 93px;
}

.logo-header {
	color: var(--logo-second-part);
}

.header-nav-link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--first-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
	color: var(--accent-color);
}

.header-link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
	color: var(--accent-color);
}

/* ==========Main index.html========== */
/* ==========Hero. Баннер, кнопка index.html========== */
.hero {
	background-color: var(--background-dark-color);
}

.section.hero {
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero-text {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--my-white);

	width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.hero-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--my-white);
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	padding: 10px 32px;
	align-items: center;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
	background: #188ce8;
}

/* ==========Наши основные особенности index.html========== */
.main-basic-first {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--first-text-color);
}

.main-basic-second {
	line-height: 1.71;
	color: var(--second-text-color);
}

.main-basic-first.marging-bottom {
	margin-bottom: 10px;
}

/* ==========Чем мы занимаемся index.html========== */
.section.main-we-doing {
	padding-top: 0;
}

.list.marging-bottom {
	margin-bottom: 50px;
}
/* ==========Наша команд index.html========== */
.main-team-bg {
	background: var(--main-bg);
}

.title.marging-bottom {
	margin-bottom: 50px;
}

.main-team-item {
	background: var(--my-white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: none;
}

.main-team-first.marging-bottom {
	margin-bottom: 10px;
}

.main-team-first {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--first-text-color);
}

.main-team-second {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--second-text-color);
}

/* ==========Footer Подвал (адрес, почта, телефон) index.html==========  */

.footer-bg {
	background: var(--background-dark-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-footer {
	color: var(--my-white);
}

/* Что бы включить флексы, нужны потом будут. В index.html и portfolio.html убрать примечание с <div class="container div-footer-flex"> В CSS убрать примечание с селектора .div-footer-flex А так же удалить строку display: block; в .a-footer-logo-link Так будет один в один как сейчас только на флексах.
Жаль, а я заморочился м мучался с этим пару часов не меньше ночью))) */

/* .div-footer-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
} */

/* Что бы включить флексы, нужны потом будут. В index.html и portfolio.html убрать примечание с <div class="container div-footer-flex"> В CSS убрать примечание с селектора .div-footer-flex А так же удалить строку display: block; в .a-footer-logo-link Так будет один в один как сейчас только на флексах.
Жаль, а я заморочился м мучался с этим пару часов не меньше ночью))) */

.li-footer-item:not(:nth-child(3n)) {
	margin-bottom: 9px;
}

.a-footer-logo-link {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);

	display: block;
	margin-bottom: 20px;
}

.a-footer-link-address {
	font-style: normal;
	line-height: 1.71;
	color: var(--my-white);
}

.a-footer-link {
	font-style: normal;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
}

.a-footer-link-address:hover,
.a-footer-link-address:focus,
.a-footer-link-address:active,
.a-footer-link:hover,
.a-footer-link:focus,
.a-footer-link:active {
	color: var(--accent-color);
}

/* ==========Main portfolio.html========== */
/* ==========Фильтры на странице portfolio.html========== */
.main-filters-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-text-color);
	background: var(--main-bg);

	padding: 6px 22px;
}

.main-filters-btn:hover,
.main-filters-btn:focus,
.main-filters-btn:active {
	color: var(--my-white);
	background: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.main-filters-flex {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.main-all-services-text-first {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--first-text-color);
}

.main-all-services-text-first.marging-bottom {
	margin-bottom: 4px;
}

.main-all-services-text-second {
	font-size: 16px;
	line-height: 1.88;
	color: var(--second-text-color);
}

/* .main-item-all-services:not(:nth-child(3n)) {
	margin-right: 30px;
}
.main-item-all-services:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
} */

.main-item-all-services-border {
	background: var(--my-white);
	border: 1px solid #eeeeee;
	padding: 20px 24px;
	border-top: none;
}

.main-item-all-services:hover,
.main-item-all-services:focus,
.main-item-all-services:active {
	flex-basis: calc((100% - 60px) / 3);

	background: var(--my-white);
	border: 1px solid #eeeeee;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
